---
layout: layout
title: Bio
body_id: bio
description: "With a Heritage in Herbal medicine, Rosemary’s initial passion was evident as a young child, feeling the strong connection with plants, the earth, animals and compassion for the welfare of our planet. With a passionate interest in herbal medicines and traditional methods of healing of her European ancestors, and that of cultures worldwide, it seemed a natural progression to become a dedicated professional Herbalist and Naturopath, a discipline that combines both ancient Western and Eastern health philosophies."
---

%section.intro
  %p
    %img{:src => "images/rose.jpg"}/
    With a Heritage in Herbal medicine, Rosemary’s initial passion was evident as a young child, feeling the strong connection with plants, the earth, animals and compassion for the welfare of our planet. With a passionate interest in herbal medicines and traditional methods of healing of her European ancestors, and that of cultures worldwide, it seemed a natural progression to become a dedicated professional Herbalist and Naturopath, a discipline that combines both ancient Western and Eastern health philosophies.
%section
  %p
    Rosemary specialises in digestive health &amp; skin conditions, however as a general practitioner, she is able to address any health concern with holistic insight.
  %p
    Rosemary has had success treating many common conditions including:
    %p
      %ul
        %li
          Digestive disorders and complaints – irritable bowel, malabsorbtion conditions, heartburn, hiatal hernia, bloating, ulcers, constipation, indigestion, reflux, Crohn’s and Coeliac disease, etc…
        %li
          Poor immunity – recurrent chest infections, colds and flu, viral infections, allergies and hayfever.
        %li
          Skin complaints – eczema, psoriasis, acne, dermatitis, dryness, oiliness etc..
        %li
          Stress, anxiety and feeling “not quite right”
        %li
          Anti-aging concerns
        %li
          Insomnia, disrupted sleep
        %li
          Hormonal Health
        %li
          Cardiovascular system – preventative health, circulation issues, high blood pressure, high cholesterol
      %p
        Rosemary is a mother of two, enjoys participating within the community and has been an active volunteer for local organisations including: Committee Member for The Victorian Herbalists Ascociation (VHA), Receptionist & regular volunteer at CERES Environmental Park, Northern Support Services (NSS) assistant for people with a disabilities and providing massage therapy at Depaul House Fitzroy.