---
layout: layout
title: Online Booking
body_id: booking
description: "Make an online booking with instant confirmation."
---

%h1 Book an Appointment
%p
  Online bookings will be taken when I return from maternity leave in mid 2014.
