---
layout: layout
title: Book a Consultation
body_id: booking
description: "Book a consultation"
---

%h1 Book a Consultation

%p
  I am currently available for bookings on Saturday afternoons between 1pm - 5pm and tuesday between 10am - 12pm. 
%p
  Also available for:
%ul
  %li Online / phone consultations
  %li Student Mentoring (POA)
%p
  Please call 0408 528 014 to make a booking.
