---
layout: layout
title: Book a Consultation
body_id: booking
description: "Booking"
---

%h1 Book a Consultation

%p I am currently available for consultions on Thursdays between 10am and 7pm. Bookings can be made by contacting me directly on 0408 528 014.

%p If your situation requires an appointment outside of regular hours, please contact me to discuss and i'll do my best to accommodate.

