---
layout: layout
title: Book a Consultation
body_id: booking
description: "Book a consultation"
---

%h1 Book a Consultation

%p I am currently available for consultions on Thursdays between 10am and 7pm. Bookings can be made by contacting me directly on 0408 528 014.

%p If your situation requires an appointment on a different day, please contact me to discuss and I may be able to accommodate.
