---
layout: layout
title: Online Booking
body_id: booking
description: "Make an online booking with instant confirmation."
---

%h1 Book an Appointment
%p
  Bookings are confirmed instantly.
%iframe.iframe-class{:frameborder => "0", :height => "0", :scrolling => "no", :src => "http://quiet-lightning-1321.herokuapp.com/businesses/2/appointments/new", :width => "100%"}
.loading Loading...