---
layout: layout
title: Online Booking
body_id: booking
description: "Make an online booking with instant confirmation."
---

%h1 Book an Appointment
%p
  Bookings are confirmed instantly.
%iframe.iframe-class{:frameborder => "0", :height => "0", :scrolling => "no", :src => "http://localhost:3000/businesses/1/appointments/new", :width => "280"}
.loading Loading...