---
layout: layout
title: Book a Consultation
body_id: booking
description: "Book a consultation"
---

%h1 Book a Consultation

%p
  I am currently on maternity leave. Bookings will be taken when I return in mid 2017.
