---
layout: layout
title: Book a Consultation
body_id: booking
description: "Book a consultation"
---

%h1 Book a Consultation

%h2 Available by appointment
%ul
  %li Saturday 1pm – 5pm
  %li Tuesday 10am – 12:00pm
%p
  Call 0408 518 014 to book an appointment.
  
%h2 Appointment prices
%ul
  %li Initial consult (1hr)  – $120
  %li Standard consult (45 mins) – $90
  %li Combined holistic healing (1hr 30mins) – $160
  %li Online / Phone Consultations (regular fees apply)
  %li Workshops and Seminars (POA)
  %li Studen Mentoring (POA)
%p Payments are accepted in Cash and direct bank transfer.
%p Concession rate available for full time students and pensioners.
%h3 Private Health Insurance
%p Private health insurance rebates apply where applicable. Rosemary is a professional member of A.N.T.A
%h3 Cancellation policy
%p 100% full consultation fee is incurred when less than 24 hours notice is given for cancellations.