---
layout: layout
title: Home
body_id: home
description: "A qualified Naturopath with over 10 years experience in the health industry, Rosemary’s compassionate and nurturing approach supports you in maintaining health and vitality throughout your life.  Rosemary is a highly skilled herbalist, well known for making herbal blends that taste great too!"
---

%section.intro
  %p A qualified Naturopath with over 10 years experience in the health industry, Rosemary’s compassionate and nurturing approach supports you in maintaining health and vitality throughout your life.  Rosemary is a highly skilled herbalist, well known for making herbal blends that taste great too!
%section
  %h2 Specialties
  %p As a general Naturopathic practitioner I am able to address most health concerns, however I have developed specialist skills and experience in dealing with digestive and skin conditions, stress and emotional wellbeing.
%section
  %h2 Therapies
  %h3 Herbal Medicine
  %p Herbs are able to support and nourish specific systems of the body. Using Traditional and modern herbal medicine principles and skilled techniques. Top quality practitioner-only liquid extracts (incl alcohol free range), handmade herbal tinctures, infusions, fresh and dry herbs.
  %h3 Nutrition and Food as Medicine
  %p The body needs the correct levels of protein, carbohydrates, fats, vitamins, minerals and water to maintain life and healthy function. If for any reason these reach compromising levels, you may need to supplement and/or re-assess your diet. Using the principles of Food as Medicine to help nourish and support you. Zinc level testing is included.
  %h3 Bespoke Natural Skincare
  %p I’ll work with you to craft a solution specific to your skin’s needs. Made from quality practitioner only essential oils by “Essential Therapeutics”, herbal extracts and natural key nutrients for the skin.
  %h3 Aura and Chakra Balance
  %p Nurturing your spirit, body and mind is integral to good health. A traditional hands-on healing method, that works with your Auric field and chakra centres. Incorporating meditation / relaxation techniques, Aura-Soma, crystal and Flower Essence Therapy
  %h3 Flower Essences
  %p Flower essences are a vibrational extract of Flowers, not used directly for physical conditions but for varying emotional states. Flower essences are safe to use and have no side effects. I use Australian Bush Flowers, Bach flowers and Californian F.E.S
%section
  %h2 Available by appointment
  %ul
    %li Wednesday 10am – 8pm
    %li Thursday 10am – 9pm
    %li Friday 10am – 12pm
    %li Saturday 10am – 5pm
  %p
    Feel free to give me a call on any day to book an appointment or book your preferred day and time
    %a{:href => "booking.html"} directly online
  %h2 Appointment prices
  %ul
    %li Initial consult (1hr 30mins)  – $110
    %li Standard consult (45-60 mins) – $80
    %li Short consult (30 mins) – $70
    %li Combined holistic healing (1hr 30mins) – $135
    %li Double Booking – Couples (2 hrs) – $170
    %li Other services
    %li Flower Essence Therapy: includes Flower Essence blend (30 mins) – $65
    %li Aura and Chakra Balance (60 mins) – $80
    %li Ear candling (30 mins) – $50
    %li Regular Workshops and Seminars (POA)
  %p Payments are accepted in Cash, Eftpos, Visa and Mastercard.
  %p Concession rate available for full time students and pensioners.
  %h3 Private Health Insurance
  %p Private health insurance rebates apply. Rosemary is a professional member of A.N.T.A
  %h3 Cancellation policy
  %p 100% full consultation fee is incurred when Less than 48 Hours notice is given for cancellations.