---
layout: layout
title: Home
body_id: home
description: "A qualified Naturopath with 15+ years experience in the health industry, Rosemary’s compassionate and nurturing approach supports you in gaining clarity and improving health throughout your life. Rosemary is a general Naturopathic Practitioner, able to address most health concerns. A highly skilled herbalist, Rosemary is also well known for making herbal blends that taste great too!"
---

%section.intro
  %p A qualified Naturopath with 15+ years experience in the health industry, Rosemary’s compassionate and nurturing approach supports you in gaining clarity and improving health throughout your life. Rosemary is a general Naturopathic Practitioner, able to address most health concerns. A highly skilled herbalist, Rosemary is also well known for making herbal blends that taste great too!

%section
  %h2 Therapies
  %h3 Herbal Medicine
  %p Herbs are able to support and nourish specific systems of the body. Using Traditional and modern herbal medicine principles and skilled techniques. Top quality practitioner-only liquid extracts (incl alcohol free range), handmade herbal tinctures, infusions, fresh and dry herbs.
  %h3 Nutrition and Food as Medicine
  %p The body needs the correct levels of protein, carbohydrates, fats, vitamins, minerals and water to maintain life and healthy function. If for any reason these reach compromising levels, you may need to supplement and/or re-assess your diet. Using the principles of Food as Medicine to help nourish and support you.
  %h3 Bespoke Natural Skincare
  %p I’ll work with you to craft a solution specific to your skin’s needs. Made from quality practitioner only essential oils by “Essential Therapeutics”, herbal extracts and natural key nutrients for the skin.

  